[Unit]
Description=Audio Streaming Gateway Suzu
After=network.target

[Service]
Restart=on-failure
RestartSec=60s
RestartPreventExitStatus=1
KillMode=control-group
User=sora
Group=sora
WorkingDirectory=/home/sora/suzu
ExecStart=/bin/bash -c '/home/sora/suzu/bin/suzu -C /home/sora/suzu/config.ini 2>/var/log/suzu/stderr.log 1>/var/log/suzu/stdout.log'
Type=simple
LogsDirectory=suzu

[Install]
WantedBy=multi-user.target
