name: ci

on:
  push:
    branches-ignore:
      - "main"
    tags-ignore:
      - "*"

jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod

      - run: go version

      - run: go fmt .

      - name: Patch
        run: make patch

      - uses: dominikh/staticcheck-action@v1
        with:
          version: "2026.1"
          install-go: false

      - name: Test
        run: make test

      - name: Build
        run: make
